---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import AboutSection from "@components/home/AboutSection.astro";
import ProjectPreviewSection from "@components/home/ProjectPreviewSection.astro";
import ContactSection from "@components/home/ContactSection.astro";
---

<Layout title="Taaral intérieur - Accueil">
  <div class="flex min-h-screen flex-col font-body">
    <Hero />

    <AboutSection />

    <section
      data-bg="bg-secondary-dark"
      class="w-full bg-transparent pt-24 text-white"
    >
      <ProjectPreviewSection />
      <ContactSection />
    </section>
  </div>
</Layout>
