---
import Layout from "@layouts/Layout.astro";
import AboutSection from "@components/homeSection/AboutSection.astro";
import ProjectPreviewSection from "@components/homeSection/ProjectPreviewSection.astro";
import ContactSection from "@components/homeSection/ContactSection.astro";
---

<Layout title="Taaral intérieur - Accueil">
  <div class="font-body min-h-screen flex flex-col">
    <section
      data-bg="bg-secondary-dark"
      class="w-full text-white pt-80 md:pt-96 pb-24 px-4 md:px-12 flex flex-col items-center bg-transparent"
    >
      <div class="w-full max-w-[1400px] mx-auto">
        <div
          class="w-full relative aspect-[16/9] md:aspect-[21/9] overflow-hidden shadow-2xl mb-16 md:mb-24 group"
        >
          <img
            alt="Sophisticated modern interior"
            class="w-full h-full object-cover transform transition-transform duration-1000 group-hover:scale-105 ease-out"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuBoVBaduTthYn6C2YPIVRwrZwRuKG3tzUuRIYFzYBuvvPTxqM_il0m-EH2RzgcROCAo1mK-Yi59gin9gkYD7pVwpw3lAFeLOranQxuXjxIAhhhcmdWcDDTuYKgZno4KOuS1n3c0V9Mcj2AdxygULMc5sdtIYHEVkiblrpZqiOWEDygNng740wBzcwEH8SedHSNvbVoC_2c32ujosc6wBoYK67MqOtWtLHJAdvTn4qGBIka5gFplafamwy6tbYTUMb34WENLjhhxKAs"
          />
        </div>
        <div class="w-full max-w-4xl mx-auto text-center md:text-left">
          <h2
            class="font-serif text-3xl md:text-5xl lg:text-6xl leading-tight text-white/95"
          >
            We are on a mission to challenge the status quo... to an interior
            experience that speaks to the soul.
          </h2>
        </div>
      </div>
    </section>

    <AboutSection />

    <section data-bg="bg-secondary-dark" class="w-full text-white pt-24 bg-transparent">
      <ProjectPreviewSection />
      <ContactSection />
    </section>
  </div>
</Layout>
