---

---

<header
  id="main-header"
  class="w-full px-6 py-12 md:px-12 fixed top-0 left-0 z-50 transition-all duration-700 bg-transparent text-white"
>
  <div
    class="flex justify-between items-start w-full max-w-[1920px] mx-auto relative"
  >
    <div class="w-24 md:w-32 mt-2">
      <a
        href="/projects"
        class="text-[10px] md:text-xs tracking-widest uppercase hover:opacity-70 transition-opacity font-medium"
        >Projects</a
      >
    </div>

    <div
      class="absolute left-1/2 transform -translate-x-1/2 text-center flex flex-col justify-center h-full"
    >
      <a href="/" class="group">
        <h1
          id="header-logo"
          class="font-display text-6xl md:text-8xl lg:text-[10rem] leading-none tracking-tight group-hover:opacity-80 transition-all duration-700"
        >
          Taaral<br /><span class="italic font-light">intérieur</span>
        </h1>
      </a>
    </div>

    <div class="w-auto text-right flex gap-4 md:gap-8 justify-end mt-2">
      <a
        href="/#about"
        class="text-[10px] md:text-xs tracking-widest uppercase hover:opacity-70 transition-opacity font-medium"
        >About</a
      >
      <a
        href="/#contact"
        class="text-[10px] md:text-xs tracking-widest uppercase hover:opacity-70 transition-opacity font-medium"
        >Contact</a
      >
    </div>
  </div>
</header>

<script>
  // Script pour animer le header au scroll
  document.addEventListener("astro:page-load", () => {
    const header = document.getElementById("main-header");
    const logo = document.getElementById("header-logo");

    const handleScroll = () => {
      if (window.scrollY > 80) {
        // État au scroll (Petit)
        header.classList.remove("py-12", "bg-transparent");
        header.classList.add(
          "py-4",
          "bg-[#351419]/95",
          "backdrop-blur-md",
          "shadow-lg",
        );
        logo.classList.remove("text-6xl", "md:text-8xl", "lg:text-[10rem]");
        logo.classList.add("text-3xl", "md:text-4xl", "lg:text-4xl");
      } else {
        // État tout en haut (Géant)
        header.classList.add("py-12", "bg-transparent");
        header.classList.remove(
          "py-4",
          "bg-[#351419]/95",
          "backdrop-blur-md",
          "shadow-lg",
        );
        logo.classList.add("text-6xl", "md:text-8xl", "lg:text-[10rem]");
        logo.classList.remove("text-3xl", "md:text-4xl", "lg:text-4xl");
      }
    };

    window.addEventListener("scroll", handleScroll);
    handleScroll(); // Initialisation au chargement
  });
</script>
