---
// src/layouts/Layout.astro
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <ClientRouter />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-primary font-body transition-colors duration-300 antialiased min-h-screen flex flex-col selection:bg-accent selection:text-background-dark"
  >
    <Header />

    <main class="flex-grow pt-32 w-full flex flex-col items-center">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  /* 1. Ralentir les animations de View Transitions (Morphing et fondu) */
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
      animation-duration: 0.8s; /* Règle la durée ici (0.8s donne un bel effet "cinématographique") */
      animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* Une courbe d'accélération très douce (ease-in-out) */
  }

  ::-webkit-scrollbar {
      width: 8px;
  }
  ::-webkit-scrollbar-track {
      background: #2A0F10;
  }
  ::-webkit-scrollbar-thumb {
      background: #AE5E4C;
      border-radius: 4px;
  }
</style>