---
// src/layouts/Layout.astro
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { ClientRouter } from "astro:transitions";

// Imports des polices locales Fontsource
import '@fontsource/dm-serif-display';
import '@fontsource/inter/300.css';
import '@fontsource/inter/400.css';
import '@fontsource/inter/500.css';
import '@fontsource/playfair-display/400.css';
import '@fontsource/playfair-display/400-italic.css';
import '@fontsource/playfair-display/500.css';
import '@fontsource/playfair-display/600.css';
import '@fontsource/playfair-display/700.css';

import 'material-icons/iconfont/material-icons.css';
import 'material-symbols/outlined.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body
    class="bg-background-light dark:bg-background-dark text-primary font-body transition-colors duration-300 antialiased min-h-screen flex flex-col selection:bg-accent selection:text-background-dark"
  >
    <Header />

    <main class="flex-grow pt-32 w-full flex flex-col items-center">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  /* 1. Ralentir les animations de View Transitions (Morphing et fondu) */
  /* ::view-transition-group(*), */
  /* ::view-transition-old(*), */
  /* ::view-transition-new(*) { */
      /* animation-duration: 0.8s; Règle la durée ici (0.8s donne un bel effet "cinématographique") */
      /* animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); Une courbe d'accélération très douce (ease-in-out) */
  /* } */

  ::-webkit-scrollbar {
      width: 8px;
  }
  ::-webkit-scrollbar-track {
      background: #2A0F10;
  }
  ::-webkit-scrollbar-thumb {
      background: #AE5E4C;
      border-radius: 4px;
  }
</style>